table, tr, td {
    border: black 1px solid;
}

td {
    padding: 10px 5px 10px 15px;
}

td.letter {
    padding: 25px;
}

.container {
    display: grid;
    grid-template-columns: 500px 700px;
    grid-column-gap: 100px;
}